@model SchoolCMS.Models.Page

@{
    ViewBag.Title = "Dodaj stronę";
    int filesCount;
}



<h2>Dodaj</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Page</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.Label("Pliki")
        </div>
        <div class="editor-field">
            <div id="files">
                
    @{if (Model.Files != null && Model.Files.Count > 0)
    {
        foreach (var file in Model.Files)
        {
            var divId = "file" + @file.Id;
            <div id="@divId">
                @file.Name
                <div id="removeButton" onclick="removeExistingFile(@file.Id)"></div>
            </div>

        }
        filesCount = Model.Files.Count;
    }
    else
    {
        filesCount = 0;
        @Html.Raw("Nie ma plików")
    }

                }
                <div id="addButton"></div>
            </div>
        </div>

        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}


<div>
    @Html.ActionLink("Powrót do listy stron", "List")
</div>


@section Scripts {
    <script type="text/javascript">

        function removeExistingFile(fileId) {
            var div = $("#file" + fileId);

            div.remove();
            var filesDiv = $("#files");
            filesDiv.append("<input type='hidden' name='filesToRemove' value='" + fileId + "'/>");

        }

        function removeAddedFile(select) {
            var button = $(".removeButton" + select.id);
            button.remove();
            select.remove();

        }
        function appendRemoveButton(selectId) {
            var select = $("#" + selectId);
            select.after("<div id='removeButton' class='removeButton"+selectId+"'  onclick='removeAddedFile("+selectId+")'></div>");
        }
        function appendOptions(selectId) {
            var select = $("#" + selectId);
            @foreach(var file in (SelectList)ViewBag.Files)
            {
            @:select.append("<option value='@file.Value'>@file.Text</option>");
                        }

        }
        var counter = 0;
        $("#addButton").click(function () {

            counter++;
            var selectId = "fileId" + counter;
            var filesDiv = $("#files");
            filesDiv.append("<select id='" + selectId + "' name ='filesToAdd'>");
            appendOptions(selectId);
            appendRemoveButton(selectId);
        });


    </script>
    @Styles.Render("~/bundles/markitpstyles")
    @Scripts.Render("~/bundles/markitupscripts")
    @Scripts.Render("~/bundles/jqueryval")
}


