@model SchoolCMS.Models.Page

@{
    ViewBag.Title = Model.Title;
}
<div id="informationSource">
    <h2>@Model.Title</h2>


    <div id="informationSourceAuthor">
        <div class="display-field">
            @Html.DisplayFor(model => model.Author.Name)
            @Html.DisplayFor(model => model.Author.Surname)
        </div>
    </div>
    <div id="informationSourceDate">
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
        </div>
    </div>
    <div id="informationSourceContent">
        <div class="display-field">
            @Html.Raw(Model.Content)
        </div>
    </div>

    @if (Model.Files != null && Model.Files.Count > 0)
    {
        <h3>Załączone pliki</h3>

        foreach (var file in Model.Files)
        {
            @Html.ActionLink(file.FileName,"Download","File",new {id = file.Id},null)
        <br/>
        }
    }
</div>