@model List<SchoolCMS.Models.Address>

@{
    ViewBag.Title = "Lista adresów";
}

<h2>Lista adresów</h2>

<p>
    @Html.ActionLink("Dodaj nowy adres", "Add", "Address")
</p>
<div class="CSSTableGenerator">
    <table>
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HouseNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCode)
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>