@model SchoolCMS.Models.News

@{
    ViewBag.Title = "Pełny tekst aktualności";
}

<h2>@Model.Title</h2>
<div id="newsAuthor">@Model.Author.Name @Model.Author.Surname</div>
<div id="newsAuthor">@Model.Date</div>
<p></p>

<fieldset>
    <legend>Aktualność</legend>
    <div class="display-field">
        @Html.Raw(Model.Content)
    </div>
</fieldset>

@if (Model.Files != null && Model.Files.Count > 0)
{
    <h3>Załączone pliki</h3>

    foreach (var file in Model.Files)
    {
        @Html.ActionLink(file.FileName, "Download", "File", new { id = file.Id }, null)
        <br />
    }
}
<p>
    @Html.ActionLink("Powrót do listy aktualności","Index","Home")
</p>
