@model System.Collections.Generic.IEnumerable<SchoolCMS.Models.News>

@{
    ViewBag.Title = "Lista aktualności";
}

<h2>Aktualności</h2>
@ViewBag.NotYourNews
<p>
    @Html.ActionLink("Dodaj aktualność", "Add", "News")
</p>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", "News", new { newsId = item.Id }, null) |
                    @Html.ActionLink("Usuń", "Delete", "News", new { newsId = item.Id }, null)
                </td>
            </tr>
        }

    </table>
</div>