@model SchoolCMS.ViewModels.RichCmsSettings

@{
    ViewBag.Title = "Ustawienia";
}

<h2>Ustawienia</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ustawienia SchoolCMS</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolName)
            @Html.ValidationMessageFor(model => model.SchoolName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewsAmountPerSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewsAmountPerSite)
            @Html.ValidationMessageFor(model => model.NewsAmountPerSite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Layouts)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedLayoutId, Model.Layouts)
            @Html.ValidationMessageFor(model => model.Layouts)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Addresses)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedAddressId, Model.Addresses)
            @Html.ValidationMessageFor(model => model.Addresses)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div>
            <b>
                ul.@Model.Address.Street @Model.Address.HouseNumber
                <br/>
                @Model.Address.PostCode @Model.Address.City
                <br/>
            </b>
            @Html.ActionLink("Zmień ustawienia adresu", "Edit","Address",new {id = 1}, null)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.LogoSettings)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedLogoSettingsId, Model.LogoSettings)
            @Html.ValidationMessageFor(model => model.LogoSettings)
        </div>*@

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
