@model SchoolCMS.ViewModels.RichCmsSettings

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RichCmsSettings</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchoolName)
            @Html.ValidationMessageFor(model => model.SchoolName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewsAmountPerSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewsAmountPerSite)
            @Html.ValidationMessageFor(model => model.NewsAmountPerSite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Layouts)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedLayoutId, Model.Layouts)
            @Html.ValidationMessageFor(model => model.Layouts)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Addresses)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedAddressId, Model.Addresses)
            @Html.ValidationMessageFor(model => model.Addresses)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LogoSettings)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedLogoSettingsId, Model.LogoSettings)
            @Html.ValidationMessageFor(model => model.LogoSettings)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
