@using System.Linq
@using System.Net.NetworkInformation
@model System.Collections.Generic.IEnumerable<SchoolCMS.Models.News>

@{
    ViewBag.Title = "Wyniki filtrowania";
}

<h1>Aktualności</h1>

    <div id="newses">
        @if (Model.Any())
        {
            foreach (var news in @Model)
             {
                 <div id="newses">
                     <div id="newsTitle">@news.Title</div>
                     <div id="newsAuthor">@news.Author.Name @news.Author.Surname</div>
                     <div id="newsAuthor">@news.Date</div>
                     <div id="newsShortContent">
                         @news.ShortContent

                         @Html.ActionLink("Czytaj więcej", "Details", "News", new {newsId = news.Id}, null)
                     </div>
                 </div>

             }
        }
        else
        {
            <div>
                Nie znaleziono aktualności o podanych tagach
            </div>
        }
    </div>
    <br />