@using System.Web.Security

@if (Roles.IsUserInRole("Administrator"))
{
    <ul id="nav" style="margin-top: 0px; float: left; margin-left: 300px">
        <li>
            <a href="@Url.Action("Index", "Home")">Strona Główna</a></li>
        <li>
            <a href="@Url.Action("List", "News")">Aktualności</a>
            <ul>
                <li><a href="@Url.Action("Add", "News")">Stwórz aktualność</a></li>
                <li><a href="@Url.Action("List", "News")">Wyświetl aktualności</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("List", "Page")">Strony</a>
            <ul>
                <li><a href="@Url.Action("Create", "Page")">Dodaj stronę</a></li>
                <li><a href="@Url.Action("List", "Page")">Wyświetl strony</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("List", "Admin")">Użytkownicy</a>
            <ul>
                <li><a href="@Url.Action("Register", "CopyWriter")">Dodaj redaktora</a></li>
                <li><a href="@Url.Action("List", "CopyWriter")">Wyświetl redaktorów</a></li>
                @*<li><a href="@Url.Action("Create", "Teacher")">Dodaj nauczyciela</a></li>
                <li><a href="@Url.Action("Index", "Teacher")">Wyświetl nauczycieli</a></li>
                <li><a href="@Url.Action("Create", "Student")">Dodaj ucznia</a></li>
                <li><a href="@Url.Action("List", "Student")">Wyświetl uczniów</a></li>*@
            </ul>
        </li>
        <li>
            <a href="@Url.Action("List", "File")">Pliki</a>
            <ul>
                <li><a href="@Url.Action("Add", "File")">Dodaj plik</a></li>
                <li><a href="@Url.Action("List", "File")">Wyświetl pliki</a></li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("List", "MenuButton")">Menu</a>
            <ul>
                <li><a href="@Url.Action("NewBranch", "MenuButton")">Dodaj do menu</a></li>
                <li><a href="@Url.Action("List", "MenuButton")">Wyświetl strukturę</a></li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("List", "Tags")">Tagi</a>
            <ul>
                <li><a href="@Url.Action("Create", "Tags")">Dodaj tag</a></li>
                <li><a href="@Url.Action("List", "Tags")">Wyświetl tagi</a></li>
            </ul>
        </li>
        @*<li>
            <a href="@Url.Action("List", "MenuButton")">E-dziennik</a>
            <ul>
                <li><a href="@Url.Action("Create", "Teacher")">Dodaj nauczyciela</a></li>
                <li><a href="@Url.Action("Create", "Student")">Dodaj studenta</a></li>
                <li><a href="@Url.Action("Add","Class")">Dodaj klasę</a></li>
            </ul>
        </li>*@

        <li><a href="@Url.Action("Edit", "CmsSettings")">Ustawienia</a></li>
    </ul>
}
@if (Roles.IsUserInRole("CopyWriter"))
{
    <ul id="nav" style="margin-top: 0px; float: left; margin-left: 300px">
        <li>
            <a href="@Url.Action("Index", "Home")">Strona Główna</a>
        </li>
        <li>
            <a href="@Url.Action("List", "News")">Aktualności</a>
            <ul>
                <li><a href="@Url.Action("Add", "News")">Stwórz aktualność</a></li>
                <li><a href="@Url.Action("List", "News")">Wyświetl aktualności</a></li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("List", "File")">Pliki</a>
            <ul>
                <li><a href="@Url.Action("Add", "File")">Dodaj plik</a></li>
                <li><a href="@Url.Action("List", "File")">Wyświetl pliki</a></li>
            </ul>
        </li>
    </ul>
}

@*@if (Roles.IsUserInRole("Student"))
{
    <ul id="nav" style="margin-top: 0px; float: left; margin-left: 300px">
        <li>
            <a href="@Url.Action("Index", "Home")">Strona Główna</a>
        </li>
        <li>
            <a href="@Url.Action("", "")">E-dziennik</a>
            <ul>
                <li><a href="@Url.Action("", "Student")">Twoje oceny</a></li>
                <li><a href="@Url.Action("", "Student")">Twój profil</a></li>
            </ul>
        </li>
    </ul>
}

@if (Roles.IsUserInRole("Teacher"))
{
    <ul id="nav" style="margin-top: 0px; float: left; margin-left: 300px">
        <li>
            <a href="@Url.Action("Index", "Home")">Strona Główna</a>
        </li>
        <li>
            <a href="@Url.Action("", "")">E-dziennik</a>
            <ul>
                <li><a href="@Url.Action("", "")">Twoje zajęcia</a></li>
                <li><a href="@Url.Action("", "")">Twoje komentarze</a></li>
                <li><a href="@Url.Action("", "Teacher")">Twój profil</a></li>
            </ul>
        </li>
    </ul>
}*@