@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "Admin")
    {
        <text>
            Witaj Adminie, @Html.ActionLink("Przejdz do zaplecza", "ChangePersonalData", "Admin", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    }
    else
    {
           <text>
        Hello @User.Identity.Name, @Html.ActionLink("Przejdz do zaplecza", "Index", "CopyWriter", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
           @Html.AntiForgeryToken()
           <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
        </text>
       }

}
else
{
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
