@model System.Collections.Generic.IEnumerable<SchoolCMS.Models.File>

@{
    ViewBag.Title = "Lista plików";
}

<h2>Lista plików</h2>

<p>
    @Html.ActionLink("Dodaj plik", "Add")
</p>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileType.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileType.Name)
                </td>
                <td>
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>