@model SchoolCMS.ViewModels.MenuButtonPage

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add","MenuButton")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x=>x.MenuButton.IsRootButton)
    @Html.HiddenFor(x => x.MenuButton.Id)
    @Html.HiddenFor(x=>x.MenuButton.ParentId)
    @Html.HiddenFor(x => x.MenuButton.Level)
    <fieldset>
        <legend>MenuButton</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MenuButton.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MenuButton.Name)
            @Html.ValidationMessageFor(model => model.MenuButton.Name)
        </div>

        <div>
            @Html.ListBoxFor(model => model.SelectedPage, Model.Pages);
            @Html.HiddenFor(model => model.MenuButton.Id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
