@model SchoolCMS.Models.MenuButton

@{
    ViewBag.Title = "Szczegóły przycisku menu";
}

<h2>Szczegóły</h2>

<fieldset>
    <legend>Przycisk menu</legend>

    <div class="display-label">
         @Html.EditorFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Dodaj przycisk", "Add",new { id=Model.Id })
</p>
