@model SchoolCMS.Models.MenuButton

@{
    ViewBag.Title = "Edycja przycisku menu";
}

<h2>Edytuj</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Przycisk menu</legend>

        @Html.HiddenFor(x => x.IsRootButton)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ParentId)
        @Html.HiddenFor(x => x.Level)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InformationSource)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.InformationSource, (SelectList)ViewBag.Pages)
            @Html.ValidationMessageFor(model => model.InformationSource)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy przycisków", "List","MenuButton")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
