@model System.Collections.Generic.IEnumerable<SchoolCMS.Models.MenuButton>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create new branch", "NewBranch")
</p>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit branch", "Branch", new { menuButtonId = item.Id })
                    @Html.ActionLink("Delete branch", "Delete", new { menuButtonId = item.Id })
                </td>
            </tr>
        }

    </table>
</div>