@model SchoolCMS.ViewModels.MainPage
@using PagedList.Mvc
@{
    ViewBag.Title = "Home Page";
}
<h1>Aktualności</h1>
@{
    <div id="newses">

            @foreach (var news in @Model.PagedNews)
            {
                <div id="newses">
                    <div id="newsTitle">@news.Title</div>
                    <div id="newsAuthor">@news.Author.Name @news.Author.Surname</div>
                    <div id="newsAuthor">@news.Date</div>
                    <div id="newsShortContent">
                        @news.ShortContent

                        @Html.ActionLink("Czytaj więcej", "NewsDetails", "News", new { newsId = news.Id }, null)
                    </div>
                </div>

            }

    </div>
    <br />
    @Html.PagedListPager(Model.PagedNews, page => Url.Action("Index", new { pageNumber = page }))



}
Page @(Model.PagedNews.PageCount < Model.PagedNews.PageNumber ? 0 : Model.PagedNews.PageNumber) of @Model.PagedNews.PageCount