@model SchoolCMS.Models.Manage
@{
    ViewBag.Title = "Manage CopyWriter's Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<fieldset>
    <legend>UserName</legend>
    <ol>
        <li>
          
        </li>
       </ol>
</fieldset>

@Html.Partial("_ChangePasswordPartial")
@Html.Partial("_ChangePersonalDataPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
