@model SchoolCMS.Models.ChangePasswordModel

@{
    ViewBag.Title = "Zmiana hasła redaktora";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x=>x.UserName)
    <p class="message-success">@ViewBag.StatusMessage</p>

    <fieldset>
        <legend>Formularz zmiany hasła</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Zmień hasło"/>
    </fieldset>
}
  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}